html {
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: dodgerblue;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 15px;
}

#logo {
  font-size: 30px;
}

#users {
  font-weight: bold;
}

h1 {
  color: gray;
  text-align: left;
}

#createUser {
  display: flex;
  justify-content: center;
}

#createUser div {
  text-align: center;
  border: solid 2px gray;
  border-radius: 10px;
  width: calc(100vw / 2);
  margin: 20px;
  padding: 10px;
}

#save {
  background-color: dodgerblue;
  color: white;
}

.userBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userBoxes > div {
  border: solid 2px gray;
  border-radius: 10px;
  width: 250px;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  #createUser div {
    text-align: left;
  }

  @media (max-width: 800px) {
    .userBoxes {
      justify-content: space-evenly;
    }
  }
}
